[Desktop Entry]
Type=Application
Name=SPX Viewer
GenericName=Apple System Information Viewer
Comment=View Apple System Information .spx reports
Exec=spx-viewer %f
Icon=io.github.mingistech.SpxViewer
Terminal=false
StartupNotify=true
Categories=System;
MimeType=application/x-apple-system-profiler;
Keywords=Apple;Mac;SPX;System Information;System Profiler;
